# Eclipse
/bin/
*.settings
*.metadata
*.classpath
*.project
*.prefs
*.launch

# Idea
out
*.ipr
*.iws
*.iml
.idea/

# VsCode
/.vscode/
/.settings/

# Gradle
.gradle/
build/

# Used to store local only information like api keys and such
/local/

# General
/*run/

# Annotation Processing
/.apt_generated_tests/
